<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control type="system" name="Gazebo">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="RightWheel_link_joint">
            <command_interface name="velocity">
                <param name="min">-150.0</param>
                <param name="max">150.0</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
            <parameters>
                <pid>
                    <p>100.0</p>
                    <i>0.2</i>
                    <d>0.02</d>
                </pid>
            </parameters>
        </joint>
        <joint name="LeftWheel_link_joint">
            <command_interface name="velocity">
                <param name="min">-150.0</param>
                <param name="max">150.0</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
            <parameters>
                <pid>
                    <p>100.0</p>
                    <i>0.2</i>
                    <d>0.02</d>
                </pid>
            </parameters>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find re4life_robot_description)/config/re4life_controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>