<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control type="system" name="Gazebo">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="RightWheel_link_joint">
            <command_interface name="velocity">
                <param name="min">-2.0</param>  <!-- Increased range from -1 to -2 -->
                <param name="max">2.0</param>   <!-- Increased range from 1 to 2 -->
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="LeftWheel_link_joint">
            <command_interface name="velocity">
                <param name="min">-2.0</param>  <!-- Increased range from -1 to -2 -->
                <param name="max">2.0</param>   <!-- Increased range from 1 to 2 -->
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
    </ros2_control>

    <transmission name="rightwheel_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="rightwheel_motor">
            <hardwareInterface>hardware_interface/velocity</hardwareInterface>
        </actuator>
        <joint name="RightWheel_link_joint">
            <hardwareInterface>hardware_interface/velocity</hardwareInterface>
            <mechanical_reduction>10.0</mechanical_reduction>  <!-- Increased from 1.0 for better torque -->
        </joint>
    </transmission>

    <transmission name="leftwheel_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="leftwheel_motor">
            <hardwareInterface>hardware_interface/velocity</hardwareInterface>
        </actuator>
        <joint name="LeftWheel_link_joint">
            <hardwareInterface>hardware_interface/velocity</hardwareInterface>
            <mechanical_reduction>10.0</mechanical_reduction>  <!-- Increased from 1.0 for better torque -->
        </joint>
    </transmission>
    
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find re4life_robot_description)/config/re4life_controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>